body {
  font-family: $basic;
  letter-spacing: 0.03em;
  color: $primery-text-color;
  background-color: $secondary-white-color;

  &.modal-open {
    overflow: hidden;
  }
  
  &.scrol-off {
    @media screen and (max-width: 767px) {
    overflow: hidden;
    }
 }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  cursor: pointer;

  &:focus {
    cursor: pointer;
  }
}

select:focus {
  cursor: pointer;
}

label {
  cursor: pointer;
}

textarea {
  cursor: pointer;

  &:focus {
    cursor: pointer;
  }
}

.container {
  min-width: 250px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  // outline: 2px solid tomato;

  @media screen and (min-width: 480px) {
    width: $mobile;
  }

  @media screen and (min-width: 768px) {
    width: $tablet;
  }
  @media screen and (min-width: 1200px) {
    width: $desktop;
  }
}

.titlle {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.column__titlle {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $sub-text-color;
}
