.social {
  gap: 10px;

  @include centeredFlex;
}

.social__link {
  @include centeredFlex;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;

  transition: color $duration $cubic, background-color $duration $cubic;

  &:hover,
  &:focus {
    color: $sub-text-color;
    background-color: $accent-color;
  }
}

.social__link--light {
  color: $secondary-white-color;
  background-color: rgba(255, 255, 255, 0.1);

  transition: color $duration $cubic, background-color $duration $cubic;

  &:hover,
  &:focus {
    color: $secondary-white-color;
    background-color: $accent-color;
  }
}

.social__icon {
  fill: currentColor;
}
