@mixin centeredFlex($type:flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}
@mixin border-bottom($color) {
  border-bottom: 1px solid $color;
}
@mixin borders($color) {
  border: 1px solid $color;
}
@mixin transition($type) {
  transition: $type $duration $cubic;
}
@mixin transparent() {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
